@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;900&display=swap");

:root {
    --color-dark-blue: #141b21;
    --color-pale-blue: #1e252b;
    --color-blue: #4DA1F0;
    --color-yellow: #f5c74e;
    --color-red: #f26464;
    --color-green: #6CCF7D;
    --color-gray-1: #c0c0c0;
    --color-purple: #5144B0;
    --color-pale-purple: #877DAF;

    font-size: 16px;
    color: white;
}

body, body * {
    font-family: "Poppins", sans-serif;
}